li {
    list-style: none;
}

input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 顶部 */
.head {
    height: 60px;
    background-color: #2a2c2e;
    padding: 0 10px;
}

.logo {
    width: 100px;
    height: 100%;
    background: url(../img/logo_index.png) left top no-repeat;
}

.head_text {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font: 22px/60px "微软雅黑";
    color: #FFF;
}

/* 用户信息 */
.operation_user {
    font: 12px/2.5 "微软雅黑";
    padding: 0 10px;
    background-color: rgb(225, 224, 224);
}

.link span {
    font-family: "宋体";
    font-weight: 500;
    padding: 0 10px;
}

.link a {
    color: #000;
}

.icon {
    padding-left: 18px;
    background-position: left center;
    background-repeat: no-repeat;
}

.icon_i {
    background-image: url(../img/icon/i.png);
}

.icon_j {
    background-image: url(../img/icon/j.png);
}

.icon_t {
    background-image: url(../img/icon/t.png);
}

.icon_n {
    background-image: url(../img/icon/n.png);
}

.icon_e {
    background-image: url(../img/icon/e.png);
}