<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内蒙古田野考古数据系统（网页版）</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/query.css">
</head>
<body>
    <div class="head">
        <a href="#">
            <div class="logo fl"></div>
        </a>
        <h3 class="head_text fr">内蒙古田野考古数据系统</h3>
    </div>

    <div class="operation_user clearfix">
        <div class="link fr">
            <span>欢迎使用此系统</span>
            <a href="#" class="icon icon_i">登陆</a>
            <span></span>
            <a href="#" class="icon icon_e">退出</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 my_check">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">表格选择</h3>
                    </div>
                    <div class="panel-body">
                        <label for="name">选择希望查看内容</label>
                        <div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1">区域系统调查记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2">遗址调查记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3">考古调查断面观察记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox4" value="option4">钻探记录表
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox5" value="option5">发掘记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox6" value="option6">采样记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox7" value="option7">区域系统调查记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox8" value="option8">遗址调查记录表
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox9" value="option9">考古调查断面观察记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox10" value="option10">区域系统调查记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox11" value="option11">遗址调查记录表
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox12" value="option12">考古调查断面观察记录表
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option13" checked>选项 1
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option14">选项 2
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 my_check">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">全站仪测绘记录卡</h3>
                    </div>
                    <div class="panel-body">
                        <!--<label for="name"></label>-->
                        <div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-10 col-xs-12">年度：</div>
                                <div class="col-lg-3 col-md-6 col-sm-10 col-xs-12">工作单位：</div>
                                <div class="col-lg-3 col-md-6 col-sm-10 col-xs-12">底册号：</div>
                                <div class="col-lg-3 col-md-6 col-sm-10 col-xs-12">流水号：</div>
                            </div>


                            <table class="table table-bordered" style="margin-top: 15px">
                                <!--<caption>边框表格布局</caption>-->
                                <thead>
                                <tr class="active">
                                    <th colspan="4">遗址名称</th>
                                    <th colspan="4">发掘区</th>
                                    <th colspan="4">探方号</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4">Tanmay</td>
                                    <td colspan="4">Bangalore</td>
                                    <td colspan="4">560001</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="6">遗址单位号</th>
                                    <th colspan="6">堆积单位号</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="6">Tanmay</td>
                                    <td colspan="6">Bangalore</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="4">绘图方式</th>
                                    <th colspan="4">绘图编号</th>
                                    <th colspan="4">相机号</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4">Tanmay</td>
                                    <td colspan="4">Bangalore</td>
                                    <td colspan="4">560001</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="12">测绘点（单位：米）</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="12">Tanmay</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="3">点号&nbsp&nbsp&nbsp&nbsp</th>
                                    <th colspan="3">北坐标</th>
                                    <th colspan="3">东坐标</th>
                                    <th colspan="3">高程&nbsp&nbsp&nbsp&nbsp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3">1</td>
                                    <td colspan="3">1</td>
                                    <td colspan="3">1</td>
                                    <td colspan="3">1</td>
                                </tr>
                                <tr>
                                    <td colspan="3">2</td>
                                    <td colspan="3">2</td>
                                    <td colspan="3">2</td>
                                    <td colspan="3">2</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="12">描绘顺序：</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="12">Tanmay</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="12">草图</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="12">
                                        <img src="https://ss3.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/vip/wh%3D176%2C106%3Bq%3D100/sign=ce39c1e3f1edab64742745c1c00083f2/b219ebc4b74543a9e81045e414178a82b901148a.jpg" alt="">
                                    </td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="6">测量者</th>
                                    <th colspan="6">绘图者</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="6">Tanmay</td>
                                    <td colspan="6">Bangalore</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr class="active">
                                    <th colspan="12">时间／日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="12">Tanmay</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>